* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #23cea9;
  width: 90%;
  margin: 0 auto;
}

.time {
  font-size: 6rem;
}

/* h1 {
  margin-bottom: 3rem;
} */

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.name_input{
  background-color: transparent;
  width: 12rem;
  font-size: 1.7rem;
  border-radius: 1rem;
  outline: none;
  text-align: center;
}
.name_input::placeholder {
  color:rgb(230, 53, 171);
  opacity: 0.8;
  border-color: #bfa5a57a;
}
.focus_input{
  background-color: transparent;
  width: 12rem;
  font-size: 1.7rem;
  border-radius: 1rem;
  outline: none;
  text-align: center;
}
.focus_input::placeholder {
  color:rgb(223, 58, 174);
  opacity: 0.8;
  border-color: #bfa5a57a;
  font-size: 1.5rem;
}

.btn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.btn:hover {
  filter: grayscale(.7);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}

.hidden {
  display: none;
}

.quote {
  min-height: 13rem;
  font: 1.2rem Georgia, serif;
  margin: 0;
  /* background: rgba(219, 35, 35, 0.103); */
  padding: 1rem;
  border-radius: 1rem;
}
.quote figcaption,
.quote blockquote {
  margin: 0.5rem;
}
.quote figcaption {
  text-align: right;
}
.btnQuote {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(.8);
  
}
.btnQuote:hover {
  filter: grayscale(.2);
}
.btnQuote:active,
.btnQuote:focus {
  outline: 0;
}
.btnQuote:active{
  transform: scale(1.02)
}

.weather {
  min-height: 150px;
  display: flex;
  flex-direction: column;

}

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {  
  width: 150px;
  padding: 10px 0;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.temperature {    
  font-size: 20px;
  
}

.parameters{
  display: flex;
  justify-content: space-around;
}

.weather-description {
  width: 150px;
  margin: 10px auto;
  font-size: 20px;
  padding: 12px 0;
  color: #ffffff;
  background-color:#44aadd;
  border-radius: 5px;
}
.weather-icon {
  font-size: 160px;
  color: #44aadd;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}

.city_input {
  background-color: transparent;
  outline: none;
  text-align: center;

  width: 150px;
  padding: 10px 0;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #23cea9;
  font-size: 1rem;
}

.city_input::placeholder {
  color: #23cea9;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}

@media (max-width: 400px) {
  .time {
    font-size: 3rem;
  }
}

